{% extends 'main/layout.html' %}

{% block title %}Страница about{% endblock %}

{% block content %}
    <div class="features">
        <h1>Страница about</h1>
        <p>vjslfbvalkbfvlajbfvjabdlfkvba;fjv;ajkfv;kajbfvk;jabdfkjvbakjfbv;
            ahviurhgauehrg;aue;ga;kjfbvkajbvjbvkajfbvk
            jafbv;abfvbafkjvba;kfjbvkabfvkabfvbakfhgaehrharughaouhg;afbvkja
            bfvkjbdf;jvba;kfjbvjakbfvajdfbvauheroguheo
            ighroahiegoajbdfvkjabdfvjkadbfv;adfibhaoehrgoa;ehrafdbn</p>
        <button class="btn btn-danger">Бессмысленная кнопка</button>
    </div>
{% endblock %}